In [1]:
import pandas as pd

In [25]:
df = pd.read_json('D:\Question-Answering\constitution_of_india.json')

<>:1: SyntaxWarning: invalid escape sequence '\Q'
<>:1: SyntaxWarning: invalid escape sequence '\Q'
C:\Users\MohdS\AppData\Local\Temp\ipykernel_12316\2613815448.py:1: SyntaxWarning: invalid escape sequence '\Q'
  df = pd.read_json('D:\Question-Answering\constitution_of_india.json')

In [26]:
df.head()

,article,title,description
0,0,Preamble,"WE, THE PEOPLE OF INDIA, having solemnly resol..."
1,1,Name and territory of the Union,"(1) India, that is Bharat, shall be a Union of..."
2,2,Admission or establishment of new States,"Parliament may by law admit into the Union, or..."
3,3,Formation of new States and alteration of area...,Parliament may by law—\n\n(a) form a new State...
4,4,Laws made under articles 2 and 3 to provide fo...,(1) Any law referred to in article 2 or articl...

In [27]:
df.shape

(465, 3)

In [28]:
df.describe()

,article,title,description
count,465,465,465
unique,465,423,464
top,0,Interpretation,"In this Part, unless the context otherwise req..."
freq,1,5,2

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   article      465 non-null    object
 1   title        465 non-null    object
 2   description  465 non-null    object
dtypes: object(3)
memory usage: 11.0+ KB

In [31]:
df.columns

Index(['article', 'title', 'description'], dtype='object')